/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .custom-button {
  background-color: #331258;
  color: white;
}

.custom-button:hover {
  background-color: #6F2CF4;
  color: white;
}

.create-button {
  background-color: #331258; /* Substitua pelo código de cor desejado */
  color: white;
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  border-radius: 5px; /* Adicione bordas arredondadas */
  cursor: pointer;
}

.create-button:hover {
  background-color: #6F2CF4; /* Cor desejada para o hover */
}

.cancel-button {
  background-color: #331258; /* Substitua pelo código de cor desejado */
  color: white;
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
  border-radius: 5px; /* Adicione bordas arredondadas */
  cursor: pointer;
  text-decoration: none;
}

.cancel-button:hover {
  background-color: #6F2CF4;
  color: white;
  text-decoration: none;
}

 .navbar {
  background-color: #EEEEEE;
}

.custom-navbar-brand {
  color: #331258;
  text-decoration: none;
}

.custom-navbar-brand:hover {
  color: #6F2CF4;
  text-decoration: none;
}

.card {
  min-height: 200px; /* Ajuste a altura mínima conforme necessário */
  max-height: 250px; /* Ajuste a altura máxima conforme necessário */
  border-radius: 2%;
}

.card-text {
  max-height: 30px; /* Ajuste conforme necessário */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3; /* Limita o texto a 3 linhas */
  -webkit-box-orient: vertical;
}

.index-background {
  background-color: #e1d8e6;
}

.icon-spacing {
  margin-right: 5px; /* Ajuste o valor conforme necessário */
}

.icon-group-spacing {
  margin-left: 15px; /* Ajuste o valor conforme necessário */
}

.custom-form {
  border: 2px solid #331258; /* Substitua pelo código de cor desejado */
  background-color: #EEEEEE; /* Substitua pelo código de cor desejado */
  padding: 20px; /* Adicione algum preenchimento interno */
  border-radius: 10px; /* Adicione bordas arredondadas, se desejar */
}

.card {
  border: 2px solid #331258; /* Substitua pelo código de cor desejado */
  background-color: #EEEEEE; /* Substitua pelo código de cor desejado */
  padding: 20px; /* Adicione algum preenchimento interno */
  border-radius: 10px; /* Adicione bordas arredondadas, se desejar */
}

.custom-card-footer {
  background-color: #331258; /* Substitua pelo código de cor desejado */
  border-radius: 10px;
}

.custom-card-footer:hover {
  background-color: #6F2CF4;
  color: white;
}

.custom-link {
  text-decoration: none;
  color: #EEEEEE; /* Substitua pelo código de cor desejado */
}

.custom-link:hover {
  text-decoration: none; /* Remove o sublinhado */
  color: #EEEEEE; /* Substitua pelo código de cor desejado */
}

.h1-index {
  color: #331258; /* Substitua pelo código de cor desejado */
}

.h2-form {
  color:#331258;
}

.form-label {
  color: #6F2CF4;
}

.card-text {
  color: #331258;
}

.card-title {
  color: #6F2CF4;
}

.icons {
  color: #331258;
}

.form-control {
  border-color: #331258;
}
